apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-seuvvdoo
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-seuvvdoo:ff3c869b201b1ed97499f7519b91522d3a4c5723@sha256:0511e89b0d2ee462d0ccf75bd3aeb224bba2d4f1451f725c7777336d196d92d0
          name: container-image
